body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto ;
  margin-bottom: 20px;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.Result{
  max-width: 200px;
  margin: auto;
  margin-top: 0px;
  overflow: auto;
  min-height: 50px;
  border: 3px solid  rgb(17, 185, 59);
  padding: 30px;
  border-radius: 5px;

}

.add-form {
  margin-bottom: 20px;
  padding: 20px 20px ;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

h2 {
  display: inline-block;
  color: rgb(17, 185, 59);
  
}
.operators{
  border-style: hidden;
  padding: 10px 20px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 5px;
}
.btn-multi{
  display: inline-block;
  background: rgb(12, 12, 12);
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  width: 10%;
  float: center;
  text-align: center;

}

.btn-block {
  display: block;
  width: 100%;
}

footer {
  margin-top: 30px;
  text-align: center;
}

